{% load static %}
<!DOCTYPE html5>
<html>
<head>
<title>Django CRUD</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</head>
<body>
<div class="space bg-primary">
<h1 class="text-center">CRUD In Django Using Class Base View</h1>
</div>
<div class="container">
<div class="row">
<div class="col-md-5 col-sm-5">
<h3 class ="text-center alert alert-info mt-3">Add New Student</h3>
<form action="" method="post">
{% csrf_token %}
{{form.as_p}}
<input type="submit" class="btn btn-success" id="btnsave" value="Add">
</form>
</div>
<div class="col-md-7 col-sm-7">
<h3 class ="text-center alert alert-info mt-3">Show Student Data</h3>
<table class="table table-hover">
<thead>
<tr>
<th scope="col">S.No</th>
<th scope="col">Name</th>
<th scope="col">Email</th>
<th scope="col">Password</th>
<th scope="col">Action</th>
</tr>
<thead>
<tbody>
{% for st in stu %}
<tr>
<td>{{ st.id }}</td>
<td>{{ st.name }}</td>
<td>{{ st.email }}</td>
<td>{{ st.password }}</td>
<td>
<a href="{% url 'updatedata' st.id %}" class="btn btn-warning"  > Edit</a>
<form action="{% url 'deletedata' st.id %}" method="post" class="d-inline">
{% csrf_token %}
<input type="submit" class="btn btn-danger" value="Delete">
</form>
</td>
</tr>
{% endfor %}
</tbody>

</table>

</div>



</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


</body>
</html>


