<script>
$("#btnsave").click(function(){
output = "";
let sid = $("#stuid").val();
let nm = $("#nameid").val();
let em = $("#emailid").val();
let ps = $("#passwordid").val();
let csr = $("input[name=csrfmiddlewaretoken").val();
if(nm== ""){
console.log("enter your name");
}
else if(em== ""){
console.log("enter your email");
}
else if(ps== ""){
console.log("enter your password");
}
else{
mydata = {stuid:sid,name:nm,email:em,password:ps,csrfmiddlewaretoken:csr};

$.ajax({
url: "{% url 'save' %}",
method : "POST",
dataType : "json",
data: mydata,
success: function(data){
	x = data.student_data;
	
	if(data.status == "save"){
	
	alert("Data Save Successfully");
	for(i=0; i<x.length; i++){
	output += "<tr><td>"+x[i].id+"</td><td>"+x[i].name+"</td><td>"+x[i].email+"</td><td>"+ x[i].password +"</td><td><input type='button' class='btn btn-warning btn-edit' value='Edit' data-sid=" + x[i].id + "><input type='button' class='btn btn-danger btn-del' value='Delete' data-sid="+ x[i].id + ">";
	}
	$("tbody").html(output);
	$("#stuid").val('');
	
	$("form")[0].reset();
	}
	else{
	alert("Data not save");
	$("#stuid").val('');
	
	$("form")[0].reset();
	}
}
});
}
});

//delete 
$("tbody").on("click",".btn-del",function(){
let id = $(this).attr("data-sid");
let csr = $("input[name=csrfmiddlewaretoken").val();
mydata = {sid:id,csrfmiddlewaretoken:csr};
mythis = this;
$.ajax({
url :"{% url 'delete' %}",
method: "POST",
data : mydata,
success: function(data){
	if(data.status == 1){
	alert("Delete Successfully");
	$(mythis).closest("tr").fadeOut();
	}
	else{
	alert("Data not Delete");
	}
	
	},
});


});

//edit
$("tbody").on("click",".btn-edit",function(){
let id = $(this).attr("data-sid");
let csr = $("input[name=csrfmiddlewaretoken").val();
mydata = {sid:id,csrfmiddlewaretoken:csr};

$.ajax({
url :"{% url 'edit' %}",
method: "POST",
data : mydata,
dataType:"json",
success: function(data){
	$("#stuid").val(data.id);
	$("#nameid").val(data.name);
	$("#emailid").val(data.email);
	$("#passwordid").val(data.password);
	
	},
});


});


</script>